body{
    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.Hello{
    display:flex;
    height: 100vh;
    width:100vw;
    background-color: aliceblue;
}

#box1{
    display: flex;
    align-items: center;
    justify-content: center;
    width:50vw;
    height: 100vh;
    background-color: rgb(39, 39, 255);
}
img{
    height: 600px;
    width: auto;
}

#box2{
    width:50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    display: block;
    padding: 5px;
}
#forget{
    text-align: right;
    font-style: italic;
}
input::placeholder{
    padding: 15px;
    font-style: italic;
}

input{
    width:40vw;
    height:55px;
    border-radius: 10px;
    border: none;
}

.email {
    margin-bottom: 20px;
}

#btn{
    width:100%;
    height:60px;
    border-radius: 10px;
    background-color: rgb(17, 186, 253);
    color: aliceblue;
    font-style: italic;
    font-weight: bold;
    font-size: larger;
    border: none;
    margin: 50px 0;
}

.forget {
    display: flex;
    justify-content: end;
}

.forget a {
    color: black;
    padding: 5px;
}

.register {
    display: flex;
    justify-content: center;
}

.register a {
    color: blue;
}

a{
    text-decoration: none;
    font-style: italic;
}